:root {
  --key-0x859: #859;
}

#three {
  background-color: var(--key-0x859);
  color: white;
}

#dark {
  background-color: black;
  color: white;
  width: 80%;
  margin: 0 auto;
}

.forumPost {
  margin: 1rem;
  margin-left: 5rem;
  padding: 2rem;
  border: 2px solid white;
}

.forumPost:first-of-type {
  margin-left: 1rem;
}

.replyBox {
  width: fit-content;
  margin: 5rem auto;
  padding: 2rem;
  border: 2px dotted white;
}

.missingFile {
  color: rgb(184, 30, 30);
}