<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style/main.css">
</head>
<body id="three">

Please enter key to continue
<form action="/keyEntry" method="get">
  <input type="text" name="key" id="key" placeholder="key">
  <button type="submit">submit</button>
</form>
  
</body>
</html>